.inca-ui-ReactTable {
  width: 400px;
  border: 0px !important;
  overflow: visible;
  float: right;
}
.inca-ui-ReactTable .rt-table {
  overflow: visible;
}
.inca-ui-ReactTable .rt-thead {
  box-shadow: none !important;
  flex-direction: column;
  flex: 1 0 auto;
  display: flex;
}
.inca-ui-ReactTable .rt-thead .rt-th {
  display: flex;
  height: 45px;
  box-shadow: none !important;
  align-items: center;
  padding: 0 15px;
  border: 0px !important;
  font-size: 14px !important;
  font-weight: 700;
  color: #2d67cb;
  cursor: pointer;
}
.inca-ui-ReactTable .rt-thead .rt-tr {
  text-align: center;
  display: inline-flex;
  flex: 1 0 auto;
}
.inca-ui-ReactTable .rt-tbody {
  overflow: visible;
  min-height: 100px;
}
.inca-ui-ReactTable .rt-tbody .rt-tr-group {
  border: none !important;
}
.inca-ui-ReactTable .rt-tbody .rt-tr {
  min-height: 60px;
  background-color: #fff;
  margin: 8px 0;
  display: flex;
  align-content: center;
  box-shadow: 0, 0, 5px, #dee2e6;
  position: relative;
}
.inca-ui-ReactTable .rt-tbody .rt-tr:before {
  font-family: "nexxt";
  position: absolute;
  right: -16px;
  top: -11px;
  border-radius: 50%;
  background: #349a71;
  color: #fff;
  font-size: 18px;
  content: "\e900";
  height: 24px;
  width: 24px;
  padding: 0;
  display: none;
  z-index: 1;
}
.inca-ui-ReactTable .rt-tbody .rt-tr-selected:before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inca-ui-ReactTable .rt-tbody .rt-td {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #4f4f4f;
}
.inca-ui-ReactTable .rt-tbody .rt-td select {
  height: 50px;
  border: none;
  outline: none;
  background: #fff;
  margin-left: -7px;
  cursor: pointer;
}
.inca-ui-ReactTable .rt-tbody .-padRow {
  display: none;
}
.inca-ui-ReactTable .inca-ui-pagination-bottom {
  padding: 15px 0;
}
.inca-ui-ReactTable .inca-ui-pagination-bottom .inca-ui-rt-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__prev-button,
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__next-button {
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__prev-button.disabled,
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__next-button.disabled {
  cursor: not-allowed;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__prev-button {
  box-shadow: 3px 0px 3px rgba(89, 89, 89, 0.1);
  margin: 0 5px 0 15px;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__next-button {
  box-shadow: -3px 0px 3px rgba(89, 89, 89, 0.1);
  margin: 0 0 0 5px;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__page-size {
  display: flex;
  align-items: center;
  height: 30px;
  background: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  box-shadow: 0px 3px 3px rgba(89, 89, 89, 0.1);
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__page-size
  label {
  margin: 0;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__page-size
  select {
  background: #fff;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
}
.inca-ui-ReactTable .inca-ui-pagination-bottom .inca-ui-rt-pagination__pages {
  background: #fff;
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 3px 3px rgba(89, 89, 89, 0.1);
}
.inca-ui-ReactTable .inca-ui-pagination-bottom .inca-ui-rt-pagination__page-no {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__page-no.active,
.inca-ui-ReactTable
  .inca-ui-pagination-bottom
  .inca-ui-rt-pagination__page-no.selected {
  background: #2d67cb;
  color: #fff;
}
.table__actions {
  margin: 0;
}
.table__actions .action__items {
  width: 24px;
  height: 24px;
  padding: 0;
  background: #dae0e5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 3px;
  transition: background 0.2s ease-in;
}
.table__actions .action__items .nx {
  color: #595959;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.table__actions .action__items:hover {
  background: #7fc4d1;
}
.table__actions .action__items:hover .nx {
  color: #2d67cb;
}
