.chatInput {
    border: 1px solid var(--mantine-color-gray-2);
    border-radius: var(--mantine-radius-sm);
    padding: 0 var(--mantine-spacing-2xs) var(--mantine-spacing-2xs)
        var(--mantine-spacing-2xs);
    background-color: var(--mantine-color-white);
}
.chatInput.disabled {
    background-color: var(--mantine-color-gray-1);
    opacity: 0.6;
}
