/* TODO: UPDATE TO USE PROPER VARIABLES */

.appShellRoot {
    background-color: #f5f5f5;
}
.appShellMain {
    padding-bottom: 1.25rem;
}

.header {
    border-bottom: none;
    /* temp bg color */
    background-color: #f5f5f5;
    padding-bottom: 1rem;
}
.headerContent {
    position: static;
}
.subtitle {
    color: var(--mantine-color-gray-7);
}
.title {
    color: var(--mantine-color-gray-7);
}

/* Mobile header styles */
.appShellRoot[data-mobile='true'] {
    .appShellMain {
        padding-top: 80px;
    }
    .navbar {
        top: 64px;
    }
}
.mobileHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--mantine-color-white);
    border-bottom: 1px solid var(--mantine-color-gray-2);
    padding: 1rem;
    z-index: 999;
}
.burger {
    position: absolute;
}
.fullLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* Fixed header styles */
.appShellRoot[data-fixed='true'] {
    .appShellMain {
        padding-top: 0;
    }
    .header {
        position: sticky;
        top: 0;
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
        z-index: 999;
    }
}

/* Fixed + mobile header styles */
.appShellRoot[data-fixed='true'][data-mobile='true'] {
    .appShellMain {
        padding-top: 64px;
    }
    .header {
        top: 64px;
    }
}

.navbar {
    overflow: auto;
}
.navLinkRoot {
    flex-direction: column;
    text-align: center;
    &[data-active] {
        border-right: 3px solid var(--mantine-color-blue-6);
    }
    &:hover {
        color: var(--mantine-color-blue-6);
    }
}
.navLinkBody {
    line-height: 1;
}
.navLinkIcon {
    position: relative;
    margin-right: 0;
}
.navLinkLabel {
    font-size: 11px;
    line-height: normal;
}
.iconLogo {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
}
.userProfilePictureContainer {
    display: flex;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    width: 22px;
    height: 22px;
}
.userProfilePicture {
    max-width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
}

.hidden {
    display: none;
}
