.checkboxInput {
    width: 1rem;
    height: 1rem;
}
.checkboxInner {
    margin-top: var(--mantine-spacing-3xs);
    width: 1rem;
    height: 1rem;
}
.checkboxLabel,
.checkboxDescription,
.checkboxError {
    padding-left: var(--mantine-spacing-xs);
    margin-top: 0;
}
