.input {
    --input-border-color: var(--border-disabled);
    --input-bg-color: var(--bg-surface);
    border-radius: var(--radius-sm);
    border: 1px solid var(--input-border-color) !important;
    background-color: var(--input-bg-color);
    padding: 0 var(--spacing-sm);
    height: 32px;
    min-height: 32px;
}

.input::placeholder {
    color: var(--text-placeholder);
}

.input:focus {
    --input-border-color: var(--border-accent) !important;
}

.input[data-invalid='true'],
.input[data-invalid='true']:focus {
    --input-border-color: var(--border-error) !important;
}

.input[data-variant='filled'] {
    --input-bg-color: var(--bg-accent-light);
    --input-border-color: transparent;
}

.input[data-variant='unstyled'] {
    --input-border-color: transparent;
    --input-bg-color: transparent;
    user-select: none;
}

.input[data-variant='underline'] {
    border: none !important;
    border-bottom: 1px solid var(--input-border-color) !important;
    border-radius: 0;
}

.tooltipIcon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rightFilledSection {
    position: relative;
    display: flex !important;
    width: auto;
    padding: 0 0.75rem;
    background-color: var(--bg-disabled);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 0.0625rem solid var(--border-disabled);
}

.leftFilledSection {
    position: relative;
    pointer-events: initial;
    display: flex !important;
    width: auto;
    padding: 0 0.75rem;
    background-color: var(--bg-disabled);
    border-radius: 0.25rem 0 0 0.25rem;
    border: 0.0625rem solid var(--border-disabled);
    color: var(--text-default);
}

.inputWithLeftSection {
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0 0.75rem;
}

.inputWithRightSection {
    border-radius: 0.25rem 0 0 0.25rem;
}

.inputWithLeftSection.inputWithRightSection {
    border-radius: 0;
}

.inputLabel {
    display: inline-flex;
}

.inputWrapper {
    display: flex;
}

.description {
    white-space: pre-wrap;
}

.error {
    white-space: pre-wrap;
}
