.label {
    margin-bottom: var(--mantine-spacing-2xs);
}

.input {
    --input-border-color: var(--mantine-color-gray-3);
    border: 1px solid var(--input-border-color) !important;
    min-height: 32px;
}

.input:focus {
    --input-border-color: var(--mantine-color-blue-6) !important;
}
