@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

@layer components {
}

@layer utilities {
  html {
    font-size: 16px;
  }

  body {
    @apply inca-ui-text-gray-700;
    font-family: "Source Sans Pro", sans-serif;
  }

  .inca-ui-blurEffect {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
