.alertTitle {
    margin-bottom: var(--mantine-spacing-2xs);
    font-weight: 600;
}
.alertRoot {
    padding: var(--mantine-spacing-xs);
}
.alertRootHide {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
}
.alertIcon {
    width: 1rem;
    height: 1rem;
    margin-right: var(--mantine-spacing-xs);
    margin-top: 0;
}
.alertIconHide {
    display: none;
}
