.alertBody {
    gap: var(--spacing-2xs);
}
.alertRoot {
    padding: var(--spacing-xs);
}
.alertRootHide {
    padding: var(--spacing-xs) var(--spacing-sm);
}
.alertIcon {
    width: 1rem;
    height: 1rem;
    margin-right: var(--spacing-xs);
}
.alertIconHide {
    display: none;
}
.alertCloseButton {
    margin-left: var(--spacing-md);
}
