.item {
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--mantine-color-gray-2);
    background-color: white;
    &[data-active='true'] {
        background-color: white;
    }
}
.content {
    padding: 0px var(--mantine-spacing-md) var(--mantine-spacing-sm)
        var(--mantine-spacing-md);
}
.control {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    &:hover {
        border-radius: 0 !important;
    }
}
/* .panel[aria-hidden='false'] {
    border-top: 1px solid var(--mantine-color-gray-3);
} */
.label {
    padding: 0;
    font-weight: 500;
}
