.input {
    --input-border-color: var(--mantine-color-gray-3);
    --input-bg-color: white;
    border-radius: var(--mantine-radius-sm);
    border: 1px solid var(--input-border-color) !important;
    background-color: var(--input-bg-color);
    padding: 0 var(--mantine-spacing-sm);
    height: 32px;
    min-height: 32px;
}

.input::placeholder {
    color: var(--mantine-color-gray-5);
}

.input:focus {
    --input-border-color: var(--mantine-color-blue-6) !important;
}

.inputLabel {
    display: inline-flex;
}

.inputWrapper {
    /* display: flex; */
}

.description {
    white-space: pre-wrap;
}

.error {
    white-space: pre-wrap;
}
