.root {
    width: fit-content;
}
.leftIcon {
    margin-right: var(--spacing-2xs);
    margin-left: calc(-1 * var(--spacing-2xs));
}
.rightIcon {
    margin-left: var(--spacing-2xs);
    margin-right: calc(-1 * var(--spacing-2xs));
}

&:focus {
    border: 0.0625rem solid transparent;
}

.transition {
    will-change: background-color, color, border-color;
    transition: background-color 200ms ease, color 200ms ease,
        border-color 200ms ease;
}

[data-color='yellow'][data-variant='filled'] {
    color: var(--text-default);
}

[data-variant='outline'] {
    border-color: var(--border-default);
    &:hover {
        background-color: var(--bg-base);
    }
}
