.leftIcon {
    margin-right: var(--mantine-spacing-2xs);
    margin-left: calc(-1 * var(--mantine-spacing-2xs));
}
.rightIcon {
    margin-left: var(--mantine-spacing-2xs);
    margin-right: calc(-1 * var(--mantine-spacing-2xs));
}

&:focus {
    border: 0.0625rem solid transparent;
}

.transition {
    will-change: background-color, color, border-color;
    transition: background-color 200ms ease, color 200ms ease,
        border-color 200ms ease;
}
