.miniModalOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--bg-overlay-black);
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.miniModal {
    background-color: var(--bg-surface);
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
}

.miniModalHeader {
    display: flex;
    justify-content: flex-end;
    min-height: 1.5rem;
}

.miniModalBody {
    height: 100%;
}

.miniModalContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20rem;
    min-height: 12rem;
    margin: 0 2.5rem;
}

.modalText {
    margin-bottom: var(--spacing-md);
}

.modalTitle {
    font-weight: bold;
    font-size: 1.875rem;
}

.modalBody {
    margin-top: var(--spacing-2xs);
}

.miniModalActions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-xs);
}
