.root {
    border-color: var(--border-default);

    &[data-answerref='true'] .content :global(.ProseMirror) {
        min-height: 40px;
        box-sizing: border-box;
        padding: var(--spacing-xs);
        padding-right: 140px;
        p {
            margin-top: 2px;
            line-height: 2;
        }
        :global(p.is-editor-empty) {
            overflow: hidden;
        }
    }
    &[data-disabled='true'] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
        .content {
            background-color: var(--bg-hover);
            color: var(--text-disabled);
        }
        .answerRefBadge {
            background-color: var(--border-disabled);
            color: var(--text-medium);
        }
    }
}
.typographyStylesProvider {
    font-size: var(--font-size-sm);
}
.answerRefBadge {
    background-color: var(--bg-accent);
    color: var(--text-inverse);
    border-radius: var(--radius-sm);
    padding: 3px var(--spacing-2xs);
    font-size: var(--font-size-sm);
    white-space: nowrap;
}
.answerRefActionsWrapper {
    position: relative;
    display: inline-block;
    padding-top: 13px;
    margin-top: -18px;
    cursor: default;
}
.answerRefActionsWrapper:hover .answerRefActions {
    display: flex;
}
.answerRefActions {
    position: absolute;
    top: 0;
    right: -12px;
    display: none;
    align-items: center;
    background: var(--bg-medium);
    border-radius: var(--radius-sm);
    padding: 1px 2px;
    z-index: 10;
}
.insertButton {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 99;
}
