.multiSelectValues {
    min-height: 31px;
    button {
        color: var(--text-subtle);
    }
}

.multiSelectInput {
    height: auto;
    input::-webkit-search-cancel-button {
        display: none;
    }
    &:has(.multiSelectSearchInput[data-readonly='true']) {
        cursor: default;
    }
}
