.multiSelectValues {
    button {
        color: var(--text-subtle);
    }
}

.multiSelectInput {
    height: auto;
    padding-right: 36px;

    input::-webkit-search-cancel-button {
        display: none;
    }

    &:has(.multiSelectSearchInput[data-readonly='true']) {
        cursor: default;
    }
}

.multiSelectOption:hover,
.multiSelectOption[data-combobox-selected='true'] {
    background-color: #e9f4ff;
}

.multiSelectValue {
    display: flex;
    align-items: center;
    background-color: var(--bg-hover);
    color: var(--text-medium);
    font-size: var(--font-size-xs);
    font-weight: 500;
    border-radius: var(--radius-sm);
    height: 1.375rem;
    padding-left: var(--spacing-xs);
    margin: 2px 4px;

    &:not(:has(.multiSelectValueRemove)) {
        padding-right: var(--spacing-xs);
    }

    &[data-disabled='true'] {
        background-color: var(--border-disabled);
        color: var(--text-medium);
    }
}

.multiSelectValueLabel {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiSelectValueRemove {
    margin-left: var(--spacing-3xs);

    &:hover {
        background-color: transparent;
    }
}

.multiSelectCreateLabel {
    color: var(--text-accent);
}
