.numberInput[data-variant='filled'] {
    background-color: var(--bg-accent-light);
}
.numberInputRequired {
    order: -1;
}
.numberInput[data-readonly='true'] {
    cursor: default;
    pointer-events: none;
}
.numberInputControlUp {
    border-bottom-color: var(--border-default);
}
.numberInputControl {
    border-left-color: var(--border-default);
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}
