.numberInput[data-variant='filled'] {
    background-color: var(--mantine-color-blue-0);
}
.numberInputRequired {
    order: -1;
}
.numberInput[data-readonly='true'] {
    cursor: default;
    pointer-events: none;
}
.numberInputControlUp {
    border-bottom-color: var(--mantine-color-gray-2);
}
.numberInputControl {
    border-left-color: var(--mantine-color-gray-2);
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}
