.textAreaInput {
    padding: var(--mantine-spacing-2xs) var(--mantine-spacing-xs);
    min-height: 32px;
}
.textAreaInput[data-variant='filled'] {
    background-color: var(--mantine-color-blue-0);
}
.textAreaInputRequired {
    order: -1;
}
.textAreaInput[data-readonly='true'] {
    cursor: default;
    pointer-events: none;
}
