.radioGroupRoot {
}

.radioGroupLabel {
    margin-bottom: var(--mantine-spacing-2xs);
}

.radioGroupLabelDisabled {
    color: var(--mantine-color-gray-5);
}
.radio {
    cursor: pointer;
    &:focus {
        border: 0.0625rem solid rgb(206, 212, 218);
    }
}

.radioLabel {
    padding-left: var(--mantine-spacing-xs);
}
