.radioGroupRoot {
}

.radioGroupLabel {
    margin-bottom: var(--mantine-spacing-2xs);
}

.radioGroupLabelDisabled {
    color: var(--mantine-color-gray-5);
}
.radio {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    &:focus {
        border: 0.0625rem solid rgb(206, 212, 218);
    }
}
.radioInner {
    margin-top: var(--mantine-spacing-3xs);
    width: 1rem;
    height: 1rem;
    svg {
        scale: 0.8;
    }
}
.radioDescription {
    padding-left: var(--mantine-spacing-xs);
}

.radioLabel {
    padding-left: var(--mantine-spacing-xs);
}
