.radio {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}
.radioInner {
    margin-top: var(--mantine-spacing-3xs);
    width: 1rem;
    height: 1rem;
    svg {
        scale: 0.8;
    }
}
.radioLabel,
.radioDescription,
.radioError {
    padding-left: var(--mantine-spacing-xs);
    margin-top: 0;
}
