.tabsList {
    height: 40px;
}

[data-variant='default'] .tabsList {
    border-bottom: 1px solid var(--mantine-color-gray-2);
    gap: var(--mantine-spacing-md);

    .tab {
        margin-bottom: -1px;
        padding: var(--mantine-spacing-sm) 0;
        &:hover {
            background-color: transparent;
        }
    }

    .tab[data-active] {
        color: var(--mantine-color-blue-6);
        border-bottom: 2px solid var(--mantine-color-blue-6);
        &:focus {
            color: var(--mantine-color-blue-6);
        }
    }
}

[data-variant='outline'] .tab,
[data-variant='pills'] .tab {
    padding: var(--mantine-spacing-sm);
}

[data-variant='contained'] .tabsList {
    height: 46px;
    .tab {
        padding: var(--mantine-spacing-sm) 0;
        width: 240px;
        background-color: var(--mantine-color-gray-2);
        border-top-left-radius: var(--mantine-radius-lg);
        border-top-right-radius: var(--mantine-radius-lg);
        font-size: medium;
        &[data-active] {
            font-weight: 600;
            background-color: var(--mantine-white);
            color: var(--mantine-color-blue-6);
        }
        &:hover {
            background-color: var(--mantine-color-blue-0);
        }
        &:disabled {
            pointer-events: none;
        }
    }
}
