.tabsList {
    height: 40px;
}

[data-variant='default'] .tabsList {
    border-bottom: 1px solid var(--border-default);
    gap: var(--spacing-md);

    .tab {
        margin-bottom: -1px;
        padding: var(--spacing-sm) 0;
        &:hover {
            background-color: transparent;
        }
    }

    .tab[data-active] {
        color: var(--text-accent);
        border-bottom: 2px solid var(--border-accent);
        &:focus {
            color: var(--text-accent);
        }
    }
}

[data-variant='outline'] .tab,
[data-variant='pills'] .tab {
    padding: var(--spacing-sm);
}

[data-variant='contained'] .tabsList {
    height: 46px;
    .tab {
        padding: var(--spacing-sm) 0;
        width: 240px;
        background-color: var(--bg-disabled);
        border-top-left-radius: var(--radius-lg);
        border-top-right-radius: var(--radius-lg);
        font-size: var(--font-size-md);
        &[data-active] {
            font-weight: 600;
            background-color: var(--bg-surface);
            color: var(--text-accent);
        }
        &:hover {
            background-color: var(--bg-accent-light);
        }
        &:disabled {
            pointer-events: none;
        }
    }
}
