.tabsList {
    border-bottom: 1px solid var(--mantine-color-gray-3);
    font-size: var(--mantine-font-size-sm);
}

.tabsListHidden {
    border-bottom: none;
}

.tab {
    margin-bottom: -1px;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-bottom: 1px solid transparent;
}

.tab[data-active] {
    color: var(--mantine-color-blue-6);
    border-bottom: 2px solid var(--mantine-color-blue-6);
}

.tab[data-active]:focus {
    color: var(--mantine-color-blue-6);
}

.panel {
    border-bottom: 1px solid var(--mantine-color-gray-3);
}
